<%- include('includes/header') %>
<div class="col-8 offset-2 mt-2 mb-5">
    <h3 class="mb-4">Sign-Up for Wander Lust</h3>
  <form
    class="row g-3 needs-validation"
    action="/signup"
    method="POST"
    novalidate
  >
    <div class="col-md-12">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a Username.</div>
    </div>

    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        name="email"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please add your Email.</div>
    </div>

    <div class="col-md-12">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please add your Password.</div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
  <div class="d-flex align-items-center  mt-2">
    <p class="mb-0">Already have an account?</p>
    <a class="btn btn-outline-secondary btn-sm ms-2" href="/login" role="button">Login</a>
  </div>
</div>
<br><br><br>

<%- include('includes/footer') %>
